[submodule "external/SDL"]
	path = external/SDL
	url = git@github.com:SDL-mirror/SDL.git
[submodule "external/glm"]
	path = external/glm
	url = git@github.com:g-truc/glm.git
[submodule "external/glad"]
	path = external/glad
	url = git@github.com:Dav1dde/glad.git
[submodule "external/assimp"]
	path = external/assimp
	url = git@github.com:assimp/assimp.git
[submodule "external/cpp-linenoise"]
	path = external/cpp-linenoise
	url = git@github.com:yhirose/cpp-linenoise.git
[submodule "external/freetype"]
	path = external/freetype
	url = git@github.com:freetype/freetype.git
[submodule "external/utfcpp"]
	path = external/utfcpp
	url = git@github.com:nemtrif/utfcpp.git
