[submodule "external/SDL"]
	path = external/SDL
	url = git@github.com:SDL-mirror/SDL.git
[submodule "external/glm"]
	path = external/glm
	url = git@github.com:g-truc/glm.git
[submodule "external/glad"]
	path = external/glad
	url = git@github.com:Dav1dde/glad.git
[submodule "external/assimp"]
	path = external/assimp
	url = git@github.com:assimp/assimp.git
