[submodule "external/SDL"]
	path = external/SDL
	url = git@github.com:libsdl-org/SDL.git
[submodule "external/glm"]
	path = external/glm
	url = git@github.com:g-truc/glm.git
[submodule "external/assimp"]
	path = external/assimp
	url = git@github.com:assimp/assimp.git
[submodule "external/cpp-linenoise"]
	path = external/cpp-linenoise
	url = git@github.com:yhirose/cpp-linenoise.git
[submodule "external/freetype"]
	path = external/freetype
	url = git@github.com:freetype/freetype.git
[submodule "external/utfcpp"]
	path = external/utfcpp
	url = git@github.com:nemtrif/utfcpp.git
[submodule "external/asio"]
	path = external/asio
	url = git@github.com:chriskohlhoff/asio.git
[submodule "external/box2d"]
	path = external/box2d
	url = git@github.com:erincatto/box2d.git
[submodule "external/bgfx.cmake"]
	path = external/bgfx.cmake
	url = git@github.com:wo1fsea/bgfx.cmake.git
